{deps, [
{lager,".*",{git,"https://github.com/erlang-lager/lager.git","3.5.1"}},{lager_syslog,".*",{git,"https://github.com/basho/lager_syslog.git","3.0.3"}},{riakc_pool,".*",{git,"https://github.com/manifest/riak-connection-pool.git","v0.2.1"}},{gunc_pool,".*",{git,"https://github.com/manifest/gun-connection-pool.git","v0.1.1"}},{riaks2c,".*",{git,"https://github.com/manifest/riak-s2-erlang-client.git","v0.4.0"}},{riakacl,".*",{git,"https://github.com/manifest/riak-acl.git","v0.2.0"}},{jose,".*",{git,"https://github.com/manifest/jose-erlang.git","v0.1.2"}},{cowboy,".*",{git,"https://github.com/ninenines/cowboy.git","2.0.0-rc.4"}},{exometer,".*",{git,"https://github.com/Feuerlabs/exometer.git","1.2.1"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
