[
	{datastore, [
	]},
	{lager, [
		{error_logger_redirect, false}
	]},
	{exometer, [
		{predefined, [
			%% http
			{[datastore,pool,http], {
				function, erlang, length, [{'$call', ranch, procs, [httpd, '$dp']}],
				value, [acceptors, connections]
			}, []},
			%% riak kv
			{[datastore,pool,kv_protobuf], {
				function, poolboy, status, [kv_protobuf],
				match, {'_',idle,'_',busy}
			}, []},
			%% riak s2
			{[datastore,pool,s2_http], {
				function, poolboy, status, [s2_http],
				match, {'_',idle,'_',busy}
			}, []},
			%% erlang vm
			{[datastore,memory], {
				function, erlang, memory, [],
				proplist, [total, processes, processes_used, system, atom, atom_used, binary, ets]
			}, []},
			{[datastore,io], {
				function, erlang, statistics, [io],
				match, {{'_',in},{'_',out}}
			}, []},
			{[datastore,system_info],
				{function, erlang, system_info, ['$dp'],
				value, [port_count,port_limit,process_count,process_limit,thread_pool_size]
			}, []}
		]},
		{report, [
			{subscribers, [
				%% http
				{exometer_report_statsd, [datastore,pool,http], acceptors, 1000, true},
				{exometer_report_statsd, [datastore,pool,http], connections, 1000, true},
				%% riak kv
				{exometer_report_statsd, [datastore,pool,kv_protobuf], idle, 1000, true},
				{exometer_report_statsd, [datastore,pool,kv_protobuf], busy, 1000, true},
				%% riak s2
				{exometer_report_statsd, [datastore,pool,s2_http], idle, 1000, true},
				{exometer_report_statsd, [datastore,pool,s2_http], busy, 1000, true},
				%% erlang vm
				{exometer_report_statsd, [datastore,memory], total, 1000, true},
				{exometer_report_statsd, [datastore,memory], processes, 1000, true},
				{exometer_report_statsd, [datastore,memory], processes_used, 1000, true},
				{exometer_report_statsd, [datastore,memory], system, 1000, true},
				{exometer_report_statsd, [datastore,memory], atom, 1000, true},
				{exometer_report_statsd, [datastore,memory], atom_used, 1000, true},
				{exometer_report_statsd, [datastore,memory], binary, 1000, true},
				{exometer_report_statsd, [datastore,memory], ets, 1000, true},
				{exometer_report_statsd, [datastore,io], in, 1000, true},
				{exometer_report_statsd, [datastore,io], out, 1000, true},
				{exometer_report_statsd, [datastore,system_info], port_count, 1000, true},
				{exometer_report_statsd, [datastore,system_info], port_limit, 60000, true},
				{exometer_report_statsd, [datastore,system_info], process_count, 1000, true},
				{exometer_report_statsd, [datastore,system_info], process_limit, 60000, true},
				{exometer_report_statsd, [datastore,system_info], thread_pool_size, 1000, true}
			]},
			{reporters, [
				{exometer_report_statsd, [
					{hostname, "localhost"},
					{port, 8125}
				]}
			]}
		]}
	]}
].
